.content {
  width: 70vw;
  min-width: 320px;
  max-width: 768px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 80px 1px rgba(25,63,196,0.15)
}
.input-line{
  display: flex;
}
.input-line .input-btn{
  margin-left: 10px;
}
.list-title{
  cursor: pointer;
}
.load-more-list{
  margin-top: 20px;
  min-height: 180px;
  max-height: 700px;
  overflow-y: auto;
  border-top: 1px solid rgba(5, 5, 5, 0.06);
}
.history-popover {
  width: 60vw;
}
.tags-box{
  display: flex;
  flex-flow: row wrap;
}
.history-tag{
  cursor: pointer;
  margin: 8px;
  display: flex;
  align-items: center;
}
.history-tag-text{
  display: inline-block;
  padding-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
.flex-between-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.repository-name{
  margin-top: 20px;
}
